  <h1>Wikki Appa says Hello!</h1>
  <style>
  *{
    background-image: url('http://123setsyoufree.com/wp-content/uploads/2014/12/Red-texture-wallpaper-pattern-background-1920x1200-texture-background.jpg');
  }
  h1{
    color:white;
  }
  </style>
