<form action="/articles" method="post">
  <label for="author">Author: </label><br/>
  <input id="author" type="text" name="article[author]"><br/>
  <label for="title">Title: </label><br/>
  <input id="title" type="text" name="article[title]"><br/>
  <label for="section">Section Title: </label><br/>
  <input id="section" type="text" name="article[content][0][title]"><br/>
  <label for="content">Section Content:</label><br/>
  <textarea id="content" name="article[content][0][content]"></textarea><br/>
  <input id="new-section" type="submit" value="Add a section">
  <input type="submit">
</form>
<script src="/scripts/newArticle.js"></script>
