<form action="/articles" method="post">
  <label for="author">Author: </label><br/>
  <input id="author" type="text" name="article[author]"><br/>
  <label for="title">Title: </label><br/>
  <input id="title" type="text" name="article[title]"><br/>
  <div id="sections">
    <label for="section-title-0">Section Title: </label><br/>
    <input id="section-title-0" type="text" name="article[sections][0][title]"><br/>
    <label for="section-content-0">Section Content:</label><br/>
    <textarea id="section-content-0" name="article[sections][0][content]"></textarea><br/>
  </div>
  <button id="new-section" type="submit">Add a section</button>
  <input type="submit">
</form>
<script src="/scripts/articleScript.js"></script>
